parameters:
	ignoreErrors:
		-
			rawMessage: 'Argument of an invalid type mixed supplied for foreach, only iterables are supported.'
			identifier: foreach.nonIterable
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: Binary operation "." between 'arxy_files.listener.' and mixed results in an error.
			identifier: binaryOp.invalid
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: Cannot access offset 'class' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: Cannot access offset 'driver' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: Cannot access offset 'mime_type_detector' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: Cannot access offset 'model_factory' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: Cannot access offset 'naming_strategy' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: Cannot access offset 'repository' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: Cannot access offset 'service_id' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: Cannot access offset 'storage' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: 'Method Arxy\FilesBundle\DependencyInjection\ArxyFilesExtension::load() throws checked exception LogicException but it''s missing from the PHPDoc @throws tag.'
			identifier: missingType.checkedException
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: 'Method Arxy\FilesBundle\DependencyInjection\ArxyFilesExtension::load() throws checked exception Symfony\Component\DependencyInjection\Exception\BadMethodCallException but it''s missing from the PHPDoc @throws tag.'
			identifier: missingType.checkedException
			count: 5
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: Offset 'form' might not exist on array.
			identifier: offsetAccess.notFound
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: Offset 'managers' might not exist on non-empty-array.
			identifier: offsetAccess.notFound
			count: 3
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: Offset 'twig' might not exist on non-empty-array.
			identifier: offsetAccess.notFound
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: 'Parameter #1 $array of function array_key_first expects array, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: 'Parameter #1 $class of method Arxy\FilesBundle\DependencyInjection\ArxyFilesExtension::createManagerDefinition() expects string, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: 'Parameter #1 $driver of method Arxy\FilesBundle\DependencyInjection\ArxyFilesExtension::createListenerDefinition() expects string, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: 'Parameter #1 $id of class Symfony\Component\DependencyInjection\Reference constructor expects string, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: 'Parameter #1 $id of method Symfony\Component\DependencyInjection\ContainerBuilder::registerAliasForArgument() expects string, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: 'Parameter #1 $id of method Symfony\Component\DependencyInjection\ContainerBuilder::setDefinition() expects string, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: 'Parameter #1 $value of function count expects array|Countable, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: 'Parameter #2 $id of method Symfony\Component\DependencyInjection\ContainerBuilder::setAlias() expects string|Symfony\Component\DependencyInjection\Alias, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: 'Parameter #2 $serviceId of method Arxy\FilesBundle\DependencyInjection\ArxyFilesExtension::createListenerDefinition() expects string, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: 'Parameter #2 $storage of method Arxy\FilesBundle\DependencyInjection\ArxyFilesExtension::createManagerDefinition() expects string, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: 'Parameter #3 $namingStrategy of method Arxy\FilesBundle\DependencyInjection\ArxyFilesExtension::createManagerDefinition() expects string, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: 'Parameter #4 $repository of method Arxy\FilesBundle\DependencyInjection\ArxyFilesExtension::createManagerDefinition() expects string|null, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: 'Parameter #5 $mimeTypeDetector of method Arxy\FilesBundle\DependencyInjection\ArxyFilesExtension::createManagerDefinition() expects string|null, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: 'Parameter #6 $modelFactory of method Arxy\FilesBundle\DependencyInjection\ArxyFilesExtension::createManagerDefinition() expects string|null, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/ArxyFilesExtension.php

		-
			rawMessage: 'Call to function assert() with true will always evaluate to true.'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			rawMessage: Instanceof between Symfony\Component\Config\Definition\Builder\ArrayNodeDefinition<Symfony\Component\Config\Definition\Builder\TreeBuilder<string>> and Symfony\Component\Config\Definition\Builder\ArrayNodeDefinition will always evaluate to true.
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			rawMessage: 'Method Arxy\FilesBundle\DependencyInjection\Configuration::getConfigTreeBuilder() throws checked exception RuntimeException but it''s missing from the PHPDoc @throws tag.'
			identifier: missingType.checkedException
			count: 2
			path: src/DependencyInjection/Configuration.php

		-
			rawMessage: Anonymous function should return string|null but returns mixed.
			identifier: return.type
			count: 1
			path: src/Form/Type/FileType.php

		-
			rawMessage: Cannot access offset 'label' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Form/Type/FileType.php

		-
			rawMessage: Cannot access offset 'mapped' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Form/Type/FileType.php

		-
			rawMessage: Cannot access offset 'multiple' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Form/Type/FileType.php

		-
			rawMessage: Cannot access offset 'required' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Form/Type/FileType.php

		-
			rawMessage: 'Cannot call method getClass() on mixed.'
			identifier: method.nonObject
			count: 1
			path: src/Form/Type/FileType.php

		-
			rawMessage: 'Method Arxy\FilesBundle\Form\Type\FileType::__construct() has parameter $fileManager with generic interface Arxy\FilesBundle\ManagerInterface but does not specify its types: T, C'
			identifier: missingType.generics
			count: 1
			path: src/Form/Type/FileType.php

		-
			rawMessage: 'Offset ''input_options'' might not exist on array<non-decimal-int-string, mixed>.'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Form/Type/FileType.php

		-
			rawMessage: 'Offset ''manager'' might not exist on array<non-decimal-int-string, mixed>.'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Form/Type/FileType.php

		-
			rawMessage: 'Offset ''multiple'' might not exist on array<non-decimal-int-string, mixed>.'
			identifier: offsetAccess.notFound
			count: 2
			path: src/Form/Type/FileType.php

		-
			rawMessage: 'Offset ''required'' might not exist on array<non-decimal-int-string, mixed>.'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Form/Type/FileType.php

		-
			rawMessage: 'Parameter #1 $fileManager of class Arxy\FilesBundle\Form\EventListener\FileUploadListener constructor expects Arxy\FilesBundle\ManagerInterface<Arxy\FilesBundle\Model\File, mixed>, mixed given.'
			identifier: argument.type
			count: 1
			path: src/Form/Type/FileType.php

		-
			rawMessage: 'Parameter #2 $multiple of class Arxy\FilesBundle\Form\EventListener\FileUploadListener constructor expects bool, mixed given.'
			identifier: argument.type
			count: 1
			path: src/Form/Type/FileType.php

		-
			rawMessage: 'Parameter #3 $options of method Symfony\Component\Form\FormBuilderInterface::add() expects array<non-decimal-int-string, mixed>, mixed given.'
			identifier: argument.type
			count: 1
			path: src/Form/Type/FileType.php

		-
			rawMessage: 'Property Arxy\FilesBundle\Form\Type\FileType::$fileManager with generic interface Arxy\FilesBundle\ManagerInterface does not specify its types: T, C'
			identifier: missingType.generics
			count: 1
			path: src/Form/Type/FileType.php

		-
			rawMessage: Trait Arxy\FilesBundle\Repository\ORM is used zero times and is not analysed.
			identifier: trait.unused
			count: 1
			path: src/Repository/ORM.php

		-
			rawMessage: 'Cannot call method format() on mixed.'
			identifier: method.nonObject
			count: 1
			path: src/Twig/FilesExtension.php

		-
			rawMessage: 'Cannot call method format() on mixed.'
			identifier: method.nonObject
			count: 1
			path: src/Validator/Constraint/FileValidator.php

		-
			rawMessage: 'Method Arxy\FilesBundle\Validator\Constraint\FileValidator::humanizeBytes() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: src/Validator/Constraint/FileValidator.php
