name: phpcs

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v2

            -   name: PHP Code Style (phpcs)
                uses: chindit/actions-phpcs@master
