name: PhpUnit

on: [ push ]

jobs:
    build-test:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v2
            -   uses: php-actions/composer@v6
                with:
                    php_version: '7.4'
                    php_extensions: 'bcmath gd'
            -   uses: php-actions/phpunit@v3